:root {
--text: #5c9bee;
--background: #010a11;
--primary: #8acddc;
--secondary: hsl(221, 100%, 56%);
--accent: #080836;
}

body {
    color: var(--text);
    background: var(--background);
    font-family: sans-serif;
    font-size: medium;
    font-style: italic;
}
}

p {
    text-decoration: underline;
    margin: var(--primary);
    padding: var(--secondary);
    border: ;
}

h1 {
    margin: 1px;
}

h2{
margin:1px solid #293a89 ;
}

h3 {
    
}

ul {
   
}