
body {
    background-image: url("https://tr.rbxcdn.com/180DAY-a0ec0bc1f5c2497466a319bdb4456cc8/500/280/Image/Jpeg/noFilter");
    background-size: cover;
    font-family: Sans-serif;
    text-align: center;
    height: 90vh;
}

#nutton {
    place-items: center;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.0);
    border: 0px solid black;
    transition: width 0.5s ease;
    position: absolute;

}

h2 {
    font-family:Arial;
}

#baconz {
    transform: translate(-598px, 0px);
}

#guestz {
    transform: translate(-487px, -25px);
}

#rebirthButton {
    transform: translate(-711px, 25px);
}